<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
<div>
    <a href="/user/help/review">
        <p>
            <button type="button">ОСТАВИТЬ ОТЗЫВ</button>
        </p>
    </a>
    <a href="/user/help/privacy">
        <p>
            <button type="button">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</button>
        </p>
    </a>
    <a href="/user/help/problem">
        <p>
            <button type="button">СООБЩИТЬ О ПРОБЛЕМЕ</button>
        </p>
    </a>
</div>
</body>
</html>