<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start application</title>
</head>
<body>
<div>
    <a href="/user/order/new">
        <p>
            <button type="button">НАЙТИ МАШИНУ</button>
        </p>
    </a>
    <a>
        <p>
            <button type="button">МОИ ЗАКАЗЫ</button>
        </p>
    </a>
    <a href="/user/account">
        <p>
            <button type="button">УПРАВЛЕНИЕ АККАУНТОМ</button>
        </p>
    </a>
    <a href="/logout">
        <p>
            <button type="button">ВЫХОД</button>
        </p>
    </a>
    <a href="/user/help">
        <p>
            <button type="button">ТЕХПОДДЕРЖКА</button>
        </p>
    </a>
    <!--        <form action="/user/order/new" method="get">-->
    <!--            <button type="submit">НАЙТИ МАШИНУ</button>-->
    <!--        </form>-->
</div>
</body>
</html>