<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<div>
    <form th:action="@{/user/account/reset_password}" method="post" th:object="${passwordDTO}">
        <p>
            <input type="text" placeholder="Старый пароль" th:field="*{oldPassword}">
        </p>
        <p>
            <input type="text" placeholder="Новый пароль" th:field="*{newPassword}">
        </p>
        <p>
            <button type="submit">Изменить</button>
        </p>
    </form>
</div>
</body>
</html>